body {
    background-color: black;
}

.header h1{
    color: white;
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 100;
}

.header h2 {
    color: white;
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 100;
}

.footer p {
    color: white;    
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
}